$mainfont: 'roboto';
$secondaryfont: 'times new roman';

* {
  box-sizing: border-box;
  font-size: 1em;
  font-family: $mainfont;
}
html {
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  @include full;
  background: $light;
}

img {
  width:100%;
}

.page {
  @include full;
  display: flex;
}
