* {
  box-sizing: border-box;
  font-size: 1em;
  font-family: $mainfont;
}
html {
  -webkit-tap-highlight-color: transparent;
  font-size: 1vw;
}
html,
body {
  @include full;
  background: $light;
}

img {
  width: 100%;
}

.page {
  width: 100%;
  // height: calc(100vh - #{$bottomNavHeight});
  height: 100vh;
  display: flex;
}
