$spacing-sizes: 0px, 4px, 8px, 16px, 24px, 32px, 48px, 56px, 64px, 72px, 96px;

@each $size in $spacing-sizes {
  $i: index($spacing-sizes, $size) - 1;

  .mt-#{$i} {
    margin-top: $size;
  }
  .mb-#{$i} {
    margin-bottom: $size;
  }
  .ml-#{$i} {
    margin-left: $size;
  }
  .mr-#{$i} {
    margin-right: $size;
  }
  .mh-#{$i} {
    margin-left: $size;
    margin-right: $size;
  }
  .mv-#{$i} {
    margin-top: $size;
    margin-bottom: $size;
  }
  .m-#{$i} {
    margin: $size;
  }

  .pt-#{$i} {
    padding-top: $size;
  }
  .pb-#{$i} {
    padding-bottom: $size;
  }
  .pl-#{$i} {
    padding-left: $size;
  }
  .pr-#{$i} {
    padding-right: $size;
  }
  .ph-#{$i} {
    padding-left: $size;
    padding-right: $size;
  }
  .pv-#{$i} {
    padding-top: $size;
    padding-bottom: $size;
  }
  .p-#{$i} {
    padding: $size;
  }
}
