.column-container {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  width: 100%;
  .panel-one,
  .panel-two,
  .panel-four {
    display: flex;
    flex-direction: column;
    // padding-bottom: 150px;
    height: 100%;
    // background: pink;
  }
  .panel-one {
    flex: 1 1 0;
  }
  .panel-two {
    flex: 2 2 0;
  }
  .panel-four {
    flex: 3 3 0;
  }
}

.text-panel {
  padding: 45px 5%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $secondaryfont;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 25px;
  }
  & > p {
    @include mainParagraph;
  }
}

.page {
  & > .column-container {
    & > .panel-one,
    & > .panel-two,
    & > .panel-four {
      overflow: auto;
      & > .text-panel {
        padding-bottom: 150px;
      }
    }
  }
}
