.icon-home:before {
  content: '\e800';
} /* '' */
.icon-menu:before {
  content: '\e801';
} /* '' */
.icon-cog:before {
  content: '\e802';
} /* '' */
.icon-cancel:before {
  content: '\e803';
} /* '' */
