@import 'vendors/reset';

@import '../public/fontello/css/fontello.css';

@import 'base/base';

@font-face {
  font-family: 'open sans';
  src: url('../public/fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'PT Serif';
  src: url('../public/fonts/PT_Serif-Web-Regular.ttf');
}
