.button__home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  bottom: 10px;
  cursor: pointer;
  padding: 8px;
  font-size: 30px;
  background: $light;
  border-radius: 50%;
  @include size(60px);
}
