.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-twal;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  font-size: 30px;
  z-index: 999;
  margin: 20px;
  background: $red-twal;
  color: $light-twal;
  @include size(60px);
  @include box-shadow;
}
