.main-nav {
  @include page-hover;
  overflow: hidden;
  background: $purple-twal;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 800;
  .cancel {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    > li {
      > a {
        @include rect-button($red-twal, none);
        border-style: inset;
        font-size: 1.3em;
        display: block;
        box-sizing: border-box;
        text-align: center;
        padding: 8px;
        line-height: 50px;
        width: 300px;
        margin-bottom: 25px;
        color: $light-twal;
        @include default-link;
      }
    }
  }
}

.main-menu-left {
  @include appear;
}
.main-menu-right {
  @include appear;
}
