.main-nav {
  @include page-hover;
  overflow: hidden;
  background: $purple-twal;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .cancel {
    position: fixed;
    bottom:20px;
    left:20px;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: space-evenly;
    // @include full;
    > li {
      > a {
        &.active {
            border-bottom:8px solid $yellow-twal;
        }
        @include rect-button($red-twal, none);
        border-style: inset;
        font-size: 1.3em;
        display: block;
        box-sizing: border-box;
        text-align: center;
        padding: 8px;
        line-height: 50px;
        width: 300px;
        margin-bottom: 25px;
        &:hover {
          border-bottom:8px solid $yellow-twal;
        }
        color: $light-twal;
        @include default-link;
      }

    }
  }
}

.main-menu-left-enter {
  opacity: 0.01;
  transform: scale(0);
  transform-origin: bottom left;
}
.main-menu-left-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms ease-out;
}
.main-menu-left-exit {
  opacity: 1;
  transform: scale(1);
  transform-origin: bottom left;
}
.main-menu-left-exit-active {
  opacity: 0.01;
  transform: scale(0);
  transition: all 300ms ease-out;
}

.main-menu-right-enter {
  opacity: 0.01;
  transform: scale(0);
  transform-origin: bottom right;
}
.main-menu-right-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms ease-out;
}
.main-menu-right-exit {
  opacity: 1;
  transform: scale(1);
  transform-origin: bottom right;
}
.main-menu-right-exit-active {
  opacity: 0.01;
  transform: scale(0);
  transition: all 300ms ease-out;
}
