.screen-saver {
  @include full;
  background: rgba($dark, 0.94);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  overflow: hidden;
  color: $light;
  @include full;
  &__main {
    @include full;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
