.screensaver {
  background: rgba($dark, 0.94);
  @include page-hover(9999);
  overflow: hidden;
  color: $light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.with-background {
    background-size: cover;
    background-position: center;
  }
  .animation-container {
    position: relative;
    @include size(28vh);
    &.with-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: '\F25A';
        font-family: 'fontello';
        font-size: 6em;
        color: $light;
      }
    }
    .circle {
      @include click-twal();
    }
  }
  .text-container {
    margin-top: 8%;
    font-family: 'Roboto';
    font-size: 2rem;
  }
  img {
    margin-top: 50px;
    height: 100px;
  }
}

.screensaver-container {
  @include appear(200ms);
}
