.screen-saver {
  background: rgba($dark, 0.94);
  z-index: 9999;
  overflow: hidden;
  color: $light;
  &__main {
    @include full;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.with-background {
      @include full;
      background-size: cover;
      background-position: center;
    }
    .animation-container {
      position: relative;
      @include size(28vh);
      &.with-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          content: '\F25A';
          font-family: 'fontello';
          font-size: 8em;
          color: $light;
        }
      }
      .circle {
        @include size(98%);
        animation: pulse 8s linear infinite;
        position: absolute;
        border: solid 3px $light;
        border-radius: 50%;
        opacity: 0;
        @for $i from 1 to 4 {
          &:nth-child(#{$i}) {
            animation-delay: $i * 2s;
          }
        }
      }
    }
    .text-container {
      margin-top: 8%;
      font-family: 'Roboto';
      font-size: 2rem;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
