.simplebar-content {
  position: relative;
  width: 100%;
  & > .panel {
    overflow-y: hidden;
  }
}

.scrollable {
  position: relative;

  &:after {
    content: '';
    pointer-events: none;
    position: absolute;
    bottom: 0px;
    display: block;
    height: 135px;
    width: 100%;
    background: linear-gradient(0deg, rgba($light, 1) 55%, rgba($light, 0) 100%);
    opacity: 0;
  }
}

.scrollOverlay {
  &:after {
    opacity: 1;
  }
}
