.scrollable {
  &:after {
    content: '';
    pointer-events: none;
    position: absolute;
    bottom: 0px;
    height: 165px;
    width: 100%;
    background: linear-gradient(0deg, rgba($light, 1) 50%, rgba($light, 0) 100%);
    display: none;
  }
  .scollOverlay {
    &:after {
      opacity: 1;
    }
  }
}
