@mixin click-twal() {
  @include size(98%);
  animation: pulse 8s linear infinite;
  position: absolute;
  border: solid $light-twal 3px;
  border-radius: 50%;
  opacity: 0;
  @for $i from 1 to 4 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 2s;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

@mixin move-corner($origin: bottom left, $time: 300ms) {
  &-enter {
    opacity: 0.01;
    transform: scale(0);
    transform-origin: $origin;
  }
  &-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all $time ease-out;
  }
  &-exit {
    opacity: 1;
    transform: scale(1);
    transform-origin: $origin;
  }
  &-exit-active {
    opacity: 0.01;
    transform: scale(0);
    transition: all $time ease-out;
  }
}

@mixin move-up($time: 300ms) {
  &-enter {
    transform: translateY(100%);
  }
  &-enter-active {
    transform: translateY(0);
    transition: all $time ease-out;
  }
  &-exit {
    transform: translateY(0);
  }
  &-exit-active {
    transform: translateY(100%);
    transition: all $time ease-out;
  }
}

@mixin move-down($time: 300ms) {
  &-enter {
    transform: translateY(-100%);
  }
  &-enter-active {
    transform: translateY(0);
    transition: all $time ease-out;
  }
  &-exit {
    transform: translateY(0);
  }
  &-exit-active {
    transform: translateY(-100%);
    transition: all $time ease-out;
  }
}

@mixin move-left($time: 300ms) {
  &-enter {
    transform: translateX(-100%);
  }
  &-enter-active {
    transform: translateX(0);
    transition: all $time ease-out;
  }
  &-exit {
    transform: translateX(0);
  }
  &-exit-active {
    transform: translateX(-100%);
    transition: all $time ease-out;
  }
}

@mixin move-right($time: 300ms) {
  &-enter {
    transform: translateX(100%);
  }
  &-enter-active {
    transform: translateX(0);
    transition: all $time ease-out;
  }
  &-exit {
    transform: translateX(0);
  }
  &-exit-active {
    transform: translateX(100%);
    transition: all $time ease-out;
  }
}

@mixin appear($time: 300ms) {
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity $time ease-in;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity $time ease-out;
  }
}
