$primarycolor: #6860AA;
$secondarycolor: rgb(240, 90, 86);

$light: rgb(235, 235, 235);
$grey: rgb(192, 192, 192);
$dark: rgb(30, 30, 30);
$red: $secondarycolor;
$yellow: #FFE161;
$green: #82C677;
$purple: $primarycolor;
