@mixin margin-vertical($margin: 0px) {
  margin-top: $margin;
  margin-bottom: $margin;
}

@mixin margin-horizontal($margin: 0px) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin padding-vertical($padding: 0px) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin padding-horizontal($padding: 0px) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin full {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@mixin size($size: 0px) {
  width: $size;
  height: $size;
}

@mixin box-shadow {
  box-shadow: 0px 4px 4px rgba($dark-twal, 0.25);
}

@mixin button($bgcolor: $red-twal, $color: $light-twal, $shadow: true){
  cursor: pointer;
  padding: 8px;
  font-size: 30px;
  background: $bgcolor;
  color: $light-twal;
  display: flex;
  justify-content: center;
  align-items: center;
  @if ($shadow) {
    @include box-shadow;
  }
  transition: all 300ms;
}

@mixin round-button($bgcolor: $red-twal, $color: $light-twal, $shadow: true)  {
  @include button($bgcolor, $color);
  border-radius: 50%;
  padding: 8px;
  font-size: 30px;
}

@mixin rect-button($bgcolor: $red-twal, $color: $light-twal, $shadow: true) {
  @include button($bgcolor, $color, $shadow);
  border-radius: 3px;
  padding: 8px;
  font-size: 30px;
}

@mixin default-link {
  text-decoration: none;
}

@mixin page-hover($zindex:9998) {
  @include full;
  position: absolute;
  top: 0;
  z-index: $zindex;
  overflow: hidden;
}
