@mixin mainParagraph($align: $textalign) {
  margin-bottom: 15px;
  line-height: 2.5rem;
  color: $dark;
  text-align: $align;
  font-family: $mainfont;
  font-size: 1.5rem;
}

@mixin quotes($bgcolor: $grey, $color: $dark) {
  position: relative;
  font-style: italic;
  background: $bgcolor;
  border-left: rgba($dark, 0.5) 10px solid;
  margin: 7% auto;
  width: fit-content;
  padding: 20px 50px 20px 40px;
  box-sizing: border-box;
  .quote-author {
    font-family: $secondaryfont;
    text-align: right;
    color: $color;
  }
  .quote-content {
    @include mainParagraph;
    text-indent: 30px;
    color: $color;
    &:before,
    &:after {
      position: absolute;
      height: 30px;
      line-height: 48px;
      font-size: 4em;
      opacity: 0.2;
    }
    &:before {
      content: '\201C';
      // margin-left: -28px;
      left: 0;
    }

    &:after {
      content: '\201D';
      margin-left: -25px;
    }
  }
}

.text-panel {
  padding: 10% 12%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $secondaryfont;
  }
  h1 {
    font-size: 3.2rem;
    margin-bottom: 25px;
  }
  h2 {
    font-size: 2.7rem;
    margin-bottom: 25px;
  }
  h3 {
    font-size: 2.4rem;
    margin-bottom: 25px;
  }
  h4 {
    font-size: 2rem;
    margin-bottom: 25px;
  }
  h5 {
    font-size: 1.75rem;
    margin-bottom: 25px;
  }
  h6 {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
  p:first-of-type {
    margin-top: 7%;
  }
  p {
    @include mainParagraph;
    // white-space: pre-line;
    // word-wrap: break-word;
    // overflow-wrap: break-word;
    // hyphens: auto;
    // word-break: break-all;
  }
}

.text-column {
  p {
    @include mainParagraph;
  }
  .panel-one,
  .panel-two,
  .panel-four {
    &:last-of-type {
      padding-right: 0;
    }
    &:first-of-type {
      padding-left: 0;
    }
    padding: 0 15px;
    box-sizing: border-box;
  }
}
