.made-w-twal {
  background: $light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $purple;
  background: url('../../../public/imgs/twal-bg.png') no-repeat;
  background-size: cover;
  @include full;
  h1 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 25px;
  }
  p {
    margin-top: 15px;
  }
  img {
    width: 65%;
  }
}
