.btn-home {
  position: absolute;
  bottom:20px;
  left: 20px;
  z-index:9999;
  &:not(.btn-simult) {
    &.settings-opened {
      visibility: hidden;
      pointer-events: none;
    }
  }
}
.btn-settings {
  position: absolute;
  bottom:20px;
  right: 20px;
  z-index:9999;
  &:not(.btn-simult) {
    &.nav-opened {
      visibility: hidden;
      pointer-events: none;
    }
  }
}
