.languages {
  display: flex;
  justify-content: center;
  &__list {
    width: 90%;
    display: inline-flex;
    justify-content: center;
    .language__element {
      margin: 0 30px;
      text-align: center;
    }
  }
}
