$padding: 10px;

.btn-language {
  @include rect-button(none, $dark-twal);
  border: $light-twal 2px solid;
  padding: $padding;
  color: $dark-twal;
  flex-direction: column;
  justify-content: center;
  img {
    object-fit: contain;
    height: 50px;
    margin-bottom: 10px;
  }
  &.active {
    @include rect-button($light-twal, $light-twal);
    padding: $padding;
    // background: $light-twal;
    .language-code {
      color: $dark-twal;
    }
  }
  .language-code {
    color: $light-twal;
    font-family: 'Roboto';
    font-size: 1.5rem;
  }
}
