$padding: 10px;

.btn-language {
  @include rect-button(none, $dark);
  border: $light 2px solid;
  padding: $padding;
  color: $dark;
  flex-direction: column;
  justify-content: center;
  img {
    object-fit: contain;
    height: 50px;
    margin-bottom: 10px;
  }
  &.active {
    @include rect-button($light, $light);
    padding: $padding;
    // background: $light;
    .language-code {
      color: $dark;
    }
  }
  .language-code {
    color: $light;
    font-family: 'Roboto';
    font-size: 1.5rem;
  }
}
