.btn-language {
  cursor: pointer;
  border: solid 2px $light-twal;
  border-radius: 8px;
  padding: 24px 60px;
  background: transparent;
  outline: none;
  @include box-shadow;
  &.active {
    background: $light-twal;
    .language-code {
      color: $dark-twal;
    }
  }
  .flag-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    height: 100px;
    width: 160px;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
  .language-code {
    color: $light-twal;
    font-family: 'Roboto';
    font-size: 1.5rem;
  }
}
